<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yourwaytotheroad">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_defined_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_defined_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Default">
        <activity android:name=".IntroOnBoardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChangeTheme" />
        <activity android:name=".bookTest" />
        <activity android:name=".TakeTestActivity" />
        <activity android:name=".RoadMarkingsList" />
        <activity android:name=".InformativeSignsList" />
        <activity android:name=".MandatorySignsList" />
        <activity android:name=".ProhibitiveSignsList" />
        <activity android:name=".WarningSignsList" />
        <activity android:name=".PrioritySignsList" />
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.yourwaytotheroad.example.com"
                    android:pathPattern="/home"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>